<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!-- Configure Twitch4J logger level -->
    <logger name="com.github.twitch4j" level="INFO"/>

    <!-- Appender Configuration [Console] -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight([%-5level]) %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender Configuration [File] -->
    <timestamp key="timestamp" datePattern="yyyyMMdd"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/log_${timestamp}.log</file>
        <encoder>
            <pattern>%date [%level] - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!-- Appender Output Configuration -->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>